{% extends "basic/layout.html" %}
{% load static %}

{% block body %}

<h1>OTP sent to your phone. Please enter it below within 5 minutes. If you didn't receive it, please check your number again. If you put a valid number and
    still aren't getting any messages, kindly contact us.
</h1>

{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

<form action="{% url 'verify_contact' %}" method="POST">
    {% csrf_token %}
    <input required type="number" name="otp" placeholder="Enter OTP">
    <input type="submit" value="Verify">
</form>

{% endblock %}