{% extends "basic/layout.html" %}
{% load static %}

{% block body %}

<div style="otp-heading-div">
<h1>OTP sent to your phone no. {{contact}}. Please enter it below within 5 minutes.</h1>
</div>

{% if message %}
    <script>
        showAlert('Status', `{{message}}`, '#155724', '#d4edd9');
    </script>
{% endif %}


<div class='otp-div'>
<form action="{% url 'verify_contact' %}" method="POST">
    {% csrf_token %}
    <input required type="number" name="otp" placeholder="Enter OTP" class="form-control">
    <input type="submit" value="Verify">
</form>
</div>
{% endblock %}