{% extends "basic/layout.html" %}
{% load static %}

{% block body %}

    <div class="main-contact-us-div">
        <div class="contact-us-info">
            <div class="contact-us-phone">
                <h3><i class="bi bi-telephone"></i> Call to us:</h3>
                <p>We're available from 10.00 AM-10.00 PM</p>
                <h6>Customer Service:</h6>
                <p>01888888888</p>
            </div>
            <hr>
            <div class="contact-us-email">
                <h3><i class="bi bi-envelope"></i> Write to us:</h3>
                <p>Fill out our form and we will get in touch with you.</p>
                <h6>Customer Service:</h6>
                <p>nice@inbmain.com</p>
            </div>
            <hr>
            <div class="contact-us-find">
                <h3><i class="bi bi-geo-alt"></i> Find us:</h3>
                <p>Want to visit our Display Centers?</p>
                <h6>Display Center Locators</h6>
            </div>
        </div>
        <div class="contact-us-form" >
            <h1 class="contact_us_heading">Leave Us A Message</h1>
            <form action="{% url 'contact_us' %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" placeholder="Name" class="form-control login_inp" name="name" required>
                </div>
                <div>
                    <input type="email" placeholder="Email" class="form-control login_inp" name="email" required>
                </div>
                <div>
                    <input type="tel" placeholder="Phone No." class="form-control login_inp" name="phoneno" required>
                </div>
                <div>
                    <textarea name="message" id="textarea_contact_us" placeholder="Your message" class="login_txt" cols="25" rows="5" required></textarea>
                </div>
                <div>
                    <input type="submit" class="contact_us_button">
                </div>
                {% if message %}
                    <h1>{{message}}</h1>
                {% endif %}
            </form>
        </div>
    </div>


{% endblock %}