{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Ibn' Main{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{% static 'basic/main.js' %}">
    <link href="{% static 'basic/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'basic/lightslider.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="google-signin-client_id" content="31889031476-0dhc7cpg32shmjhv7megtv0do7ndp1q2.apps.googleusercontent.com">-->
    <script src="{% static 'basic/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="{% static 'basic/lightSlider.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>


    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
</head>

<body>
    <div class="alert-special-div">
        
    </div>
    <header class="main_header">
        <div class="menu_search">
            <div class="sub"><i class="bi bi-list menu_bar" onclick="show_menu()"></i></div>
            <div class="search_icon_2">
                <i class="bi bi-search search_icon src-search-2" onclick="show_search_bar()"><span
                        class="nav-writing search-nav-writeup"> Search</span></i>

                <form class="form-inline my-2 my-lg-0 nav-search-form" action="{% url 'search' %}" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <i class="bi bi-x mobile-form-close" data-type="desktop" onclick="hide_search('src-search-2')"></i>
                </form>
            </div>
        </div>

        <a class="navbar_brand" href="{% url 'home' %}">
            <img src="{% static 'basic/images/logo.png' %}" width="80" height="80" class="d-inline-block align-top"
                alt="">

        </a>
        <li id="mobile_ibnmain_name_li">
            <h3 class="ibnmain-writeup">I B N' M A I N</h3>
            <img src="{% static 'basic/images/logo.png' %}" width="80" height="80"
                class="align-top ibnmain-img-mobile" alt="">
        </li>
        <div class="nav_stuffs">
            <div class="search_icon_1">
                <i class="bi bi-search search_icon src-search-1" onclick="show_search_bar()"><span
                        class="nav-writing search-nav-writeup"> Search</span></i>

                <!--Search functionalities-->
                <form class="form-inline my-2 my-lg-0 nav-search-form" action="{% url 'search' %}" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                    <i class="bi bi-x" data-type="mobile" onclick="hide_search('src-search-1')"></i>
                </form>
            </div>


            <span>
                {% if not user.is_authenticated %}
                <i class="bi bi-person sign_in_icon"><a class="sign_in nav-writing account-nav-writeup"
                        href="{% url 'login' %}"> Sign In</a></i>
                {% else %}
                <i class="bi bi-person sign_in_icon" onclick="show_account_div()"><span
                        class="sign_in nav-writing account-nav-writeup"> Account</span></i>
                {% endif %}
            </span>

            <a class="nav_shop_cart_link" onclick="show_cart_div()"><i class="bi bi-cart3 shop_cart"></i><span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                    <span id="nav_cart">0</span>
                </span>
            </a>



        </div>
        <div class="separate-account-div">
            <div class="account-x-div">
                <i class="bi bi-x account-x" onclick="hide_account_div()"></i>
            </div>

            <div class="account-x-div1">
                <h1 class="account-x-h1">Account</h1>

                {% if user.img %}
                <div class="img_div" style="background-image:url({{user.img.url}})"></div>
                {% else %}
                <div class="img_div"><img class="user-img" src="{% static 'ibnmain/images/user.png' %}"></div>
                {% endif %}

                {% if user.status != "user" %}
                <li class="account-li">
                    <a href="{% url 'admin_page' %}">Admin Page</a>
                </li>

                {% endif %}

                {% if user.is_authenticated %}
                <li class="account-li">
                <a href="{% url 'profile_page' user.id %}">My Profile</a>
                </li>
                <li class="account-li">
                    <a href="#">My Orders</a>
                </li>
                <li class="account-li">
                    <a href="{% url 'show_tracker' %}">Tracker</a>
                </li>

                <li class="account-li">
                    <a href="{% url 'logout' %}">Logout/Signout</a>
                </li>
                {% endif %}
            </div>



        </div>


        <div class="separate-cart-div">
            <div class="account-x-div">
                <i class="bi bi-x account-x" onclick="hide_cart_div()"></i>
            </div>

            <div class="cart-x-div1">
                <h1 class="account-x-h1">Cart</h1>

                <div class="cart-product-div">

                </div>
            </div>

            <div class="cart-btn-divs">
                <a href="{% url 'show_cart' %}" class="cart-nice-btn">Go to cart</a>
                <button class="btn clear-cart-btn" onclick="clearCart()">Clear Cart</button>
            </div>



        </div>

    </header>



    <nav class="my_nav">
        <i class="bi bi-x menu_bar_x" onclick="hide_menu()"></i>


        <div class="n">

            <ul class="nav_ul">
                <li class="ibnmain_name_li">
                    <h3>I B N M A I N</h3>
                </li>
                <li class="nav_li">
                    <a class="nav_lnk" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav_li">
                    <a class="nav_lnk" href="{% url 'index' %}">All Perfume Oil<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav_li">
                    <a class="nav_lnk" href="{% url 'exclusive' %}">Exclusives</a>
                </li>
                <li class="nav_li">
                    <a class="nav_lnk" href="#">Dehn Al Oud</a>
                </li>
                <li class="nav_li">
                    <a class="nav_lnk" href="{% url 'contact_us' %}">Contact Us</a>
                </li>


            </ul>

    </nav>

    <div class="spacer"></div>
    {% block body %}
    {% endblock %}
    <div class="my-footer">


        <footer>
            <div class="footer_div">
                <h3>Legal</h3>
                <ul>
                    <li><a href="/aboutus#PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/aboutus#PaymentPolicy">Payment Policy</a></li>
                    <li><a href="/aboutus#ShippingPolicy">Shipping Policy</a></li>
                    <li><a href="/aboutus#TermsAndConditions">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer_div">
                <h3>Company</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'aboutus' %}">About us</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>

            <div class="footer_div">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="tel:+1234567890">01700000000</a></li>
                    <li><a href="mailto:xyz@ibnmain.com">xyz@ibnmain.com</a></li>
                    <li><a href="">Display Center</a></li>
                    <li><a href="">Customer Care</a></li>

                </ul>
            </div>
            <div class="footer_div">
                <h3 class="social_heading">Social Links</h3>
                <div class="social-icons">
                    <div>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                    </div>
                    <div style="display: block;">
                        <p style="opacity: 0.75; margin-left: 10px;">For any query, our chatbox is always open!</p>
                        <a href=""><i class="bi bi-messenger"></i></a>
                    </div>
                </div>
            </div>
            <div class="payment-div">
                <h3>You Can Pay Us By</h3>
                <div class="img-div">
                    <img src="{% static 'basic/images/Mastercard.png' %}" alt="">
                    <img src="{% static 'basic/images/visa.png' %}" alt="">
                    <img src="{% static 'basic/images/ame.png' %}" alt="">
                    <img src="{% static 'basic/images/bkash.svg' %}" alt="" style="object-fit:cover;">
                    <img src="{% static 'basic/images/rocket.png' %}" alt="">
                    <img src="{% static 'basic/images/nagad.png' %}" alt="">
                </div>

            </div>

        </footer>
    </div>
    <div class="ending">
        <p>© 2023 Ibn Main | All Righs Reserved.</p>
    </div>

</body>

<script>
    var counter_for_cart = 0;
    document.querySelector("#nav_cart").innerHTML = Object.keys(cart).length;
    const nice_my_div = document.querySelector(".separate-account-div");
    const nice_my_div_1 = document.querySelector(".separate-cart-div");
    const bruh_div = document.querySelector(".cart-product-div");

    if (Object.keys(cart).length == 0) {
        bruh_div.innerHTML = "You have not added any product to your cart. Thus it is empty."
    }
    else {
        for (var item in cart) {
            var qty = cart[item][0];
            var name = cart[item][1];
            var img_url = cart[item][9];
            var amount_number = cart[item][4];
            var amount = cart[item][3];
            let product_div = document.createElement("div");
            let product_div1 = document.createElement("div");
            let product_div2 = document.createElement("div");

            product_div.classList.add("separate-cart-inner-div");
            product_div1.classList.add("separate-cart-inner-div-img");
            product_div2.classList.add("separate-cart-inner-div-content");

            let img = document.createElement("img");
            img.src = img_url;
            img.alt = "This image doesn't exist";
            product_div1.appendChild(img);
            let h1 = document.createElement("h1");
            h1.innerHTML = name;

            product_div.id = `this-cart-prod-div-${item}`;

            product_div2.appendChild(h1);

            let p1 = document.createElement("p");
            let p2 = document.createElement('p');
            let p3 = document.createElement("p");

            p1.innerHTML = "Quantity: x" + qty;
            p2.innerHTML = "Amount: " + amount + " gm";
            p1.id = `cart-prod-div-quantity-${item}`;
            p2.id = `cart-prod-div-amount-${item}`;

            var serial = 0;

            for (var i = 0; i < amount_number; i++) {
                if (cart[item][5][i] === parseFloat(amount)) {
                    serial = i;
                }
            }
            var total_price = qty * cart[item][7][serial];
            p3.innerHTML = "Total Price: " + total_price + " BDT";
            p3.id = `cart-prod-div-price-${item}`;
            p3.dataset.value = total_price;
            product_div2.appendChild(p1);
            product_div2.appendChild(p2);
            product_div2.appendChild(p3);
            product_div.appendChild(product_div1);
            product_div.appendChild(product_div2);
            bruh_div.appendChild(product_div);
        }
    }

    document.body.addEventListener("click", (event) => {
        // Check if the target of the click is the div or a child of the div
        let style = getComputedStyle(nice_my_div);
        let right = parseInt(style.getPropertyValue('right'));

        let style1 = getComputedStyle(nice_my_div_1);
        let right1 = parseInt(style1.getPropertyValue('right'));
        if (!nice_my_div.contains(event.target) && right === 0) {
            // If the target is not the div or a child of the div, hide the div
            nice_my_div.style.right = "-100%";

        }

        if (!nice_my_div_1.contains(event.target) && right1 === 0) {
            nice_my_div_1.style.right = "-100%";
        }
    });


</script>

</html>