{% extends "basic/layout.html" %}

{% block body %}
    <div class="container" style="margin-top: 100px; display: flex; justify-content: center; align-item: center; width: 100%;">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center; font-size: 20px; font-weight: 300;">{{message}}</h1>
                <form action={% url 'change_password'%} method="post" style="display: flex; justify-content:center; align-item: center; flex-direction: column">
                    {% csrf_token %}
                    <input type="number" name="contact_no" placeholder="Contact No." class="form-control" style="margin: 50px 0;">
                    <input type="submit" class="register-btn" value="Submit">
                </form>    
            </div>
        </div>
    </div>
{% endblock %}