{% extends "basic/layout.html" %}
{% load static %}

{% block body %}

    <div class="tracker-main-div">
        <div class="inside-tracker-div">
            <div class="tracker-header">
                <h1 style="font-size: 17px">Order Id: <span style="color:cornflowerblue"><a href="{% url 'show_order_user' tracker.order.id %}">#{{tracker.order.id}}</a></span></h1>
                {% if user.status == "user" %}
                <h1>Delivery Date: {{tracker.delivary_date}}</h1>
                {% else %}
                <form action="{% url 'change_delivery_date' tracker.order.id %}" method="post">
                    {% csrf_token %}
                    <input type="date" name="delivery_date" value="{{ tracker.delivary_date|date:'Y-m-d' }}">
                    <input type="submit" class="register-btn" value="Submit">
                </form>
                {% endif %}
            </div>

            <div class="loading-bar-div">
                <div class="loading-bar">
                    <div class="progress-bar"></div>
                </div>

                <div class="loading-icon-div">
                    {% if user.status == "user" %}
                    <i class="bi bi-check-circle-fill" id="icon-0"></i>
                    <i class="bi bi-check-circle-fill" id="icon-1"></i>
                    <i class="bi bi-check-circle-fill" id="icon-2"></i>
                    <i class="bi bi-check-circle-fill" id="icon-3"></i>
                    {% else %}
                    <i class="bi bi-check-circle-fill" id="icon-0" data-value="0" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-1" data-value="1" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-2" data-value="2" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-3" data-value="3" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    {% endif %}
                    
                </div>
            </div>

            <div class="order-icon-div">
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/process.png' %}" alt="" width="40px">
                    <p><b>Order Processed</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/package-delivered.png' %}" alt="" width="40px">
                    <p><b>Order Delivered</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/shipped.png' %}" alt="" width="40px">
                    <p><b>Order En Route</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center; font-size:13px; transform: translateX(20px)">
                    
                    <img src="{% static 'basic/images/house.png' %}" alt="" width="40px">
                    <p style="width: 50px;"><b>Order Arrived</b></p>
                    
                </div>
            </div>


            <script>
                for(var i = 0; i <= parseInt({{tracker.progress}}); i++){
                    document.querySelector(`#icon-${i}`).style.color = "#bbffbb";
                }

                document.querySelector(`.progress-bar`).style.width = "{{progress}}%";
            </script>
            
            
           

        </div>
    </div>
{% endblock %}