{% extends "basic/layout.html" %}
{% load static %}

{% block body %}

    <div class="tracker-main-div">
        <div class="inside-tracker-div">
            {% if user.is_authenticated %}
            {% if  request.user == user or request.user.status == "admin" or request.user.status == "moderator" %}
            <div class="tracker-header">
                <h1 style="font-size: 17px">Order Id: <span style="color:cornflowerblue"><a href="{% url 'show_order_user' tracker.order.id %}">#{{tracker.order.id}}</a></span></h1>
                {% if user.status == "user" %}
                <h1>Delivery Date: {{tracker.delivary_date}}</h1>
                {% else %}
                <form action="{% url 'change_delivery_date' tracker.order.id %}" method="post">
                    {% csrf_token %}
                    <input type="date" name="delivery_date" value="{{ tracker.delivary_date|date:'Y-m-d' }}">
                    <input type="submit" class="register-btn" value="Submit">
                </form>
                {% endif %}
            </div>

            <div class="loading-bar-div">
                <div class="loading-bar">
                    <div class="progress-bar"></div>
                </div>

                <div class="loading-icon-div">
                    {% if user.status == "user" %}
                    <i class="bi bi-check-circle-fill" id="icon-0"></i>
                    <i class="bi bi-check-circle-fill" id="icon-1"></i>
                    <i class="bi bi-check-circle-fill" id="icon-2"></i>
                    <i class="bi bi-check-circle-fill" id="icon-3"></i>
                    {% else %}
                    <i class="bi bi-check-circle-fill" id="icon-0" data-value="0" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-1" data-value="1" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-2" data-value="2" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    <i class="bi bi-check-circle-fill" id="icon-3" data-value="3" onclick="change_tracker_status(this, {{tracker.order.id}})"></i>
                    {% endif %}
                    
                </div>
            </div>

            <div class="order-icon-div">
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/process.png' %}" alt="" width="40px">
                    <p><b>Order Processed</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/package-delivered.png' %}" alt="" width="40px">
                    <p><b>Order Delivered</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center;font-size:13px;">
                    <img src="{% static 'basic/images/shipped.png' %}" alt="" width="40px">
                    <p><b>Order En Route</b></p>
                </div>
                <div style="width: 20%; display: flex;justify-content: flex-start; align-items: center; font-size:13px; transform: translateX(20px)">
                    
                    <img src="{% static 'basic/images/house.png' %}" alt="" width="40px">
                    <p style="width: 50px;"><b>Order Arrived</b></p>
                    
                </div>
                
                
                
            </div>


            <script>
                for(var i = 0; i <= parseInt({{tracker.progress}}); i++){
                    document.querySelector(`#icon-${i}`).style.color = "#bbffbb";
                }

                document.querySelector(`.progress-bar`).style.width = "{{progress}}%";

                function change_payment_status(){
                    fetch("change_payment_status",{
                        method: 'PUT',
                    })
                    .then((response) => response.json())
                    .then(status => {
                        if(status.status == "success" && status.order_status){
                            showAlert('Payment Status', `The payment of the order has been confirmed!`, '#155724', '#d4edd9');
                        }
                        else if(status.status == "success"){
                            showAlert('Payment Status', `Change is confirmed but Payment is not confirmed!`, '#155724', '#d4edd9');
                        }
                        else{
                            showAlert('Payment Status', `Payment Status Couldn't be changed!`, '#155724', '#d4edd9');
                        }
                    })
                }

            </script>

            {% if user.status != "user" %}
            <div class="payment-status-edit-div">
                <label for="payment_status">Payment Status:</label>
                <input type="checkbox" 
                    {% if tracker.order.is_paid %}
                    checked
                    {% endif %}
                    onchange="change_payment_status()"
                >
            </div>
            {% endif %}

            {% else %}
            You are not Authorised to view this page!
            {% endif %}

            {% else %}
            Please <a href="#" onclick="show_account_div">Login</a> in order to check your Order Status
            {% endif %}


            
            
           

        </div>
    </div>
{% endblock %}